html,
body {
  background-color: #000;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  background: radial-gradient(#333333, #111);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
  overflow: hidden;
}
#how-to{
  height: 200px;
  width: 400px;
  background-color: white;
  color:black;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}
#controls{
  text-align: center;
  margin: 60px auto;
}
#hScore{
  position: fixed;
  top: 0;
  right: 0;
}
#arrow-keys{
  position: relative;
  text-align: center;
  margin: 20px auto;
  background-image: url("https://i.pngimg.me/thumb/f/720/4638844875964416.jpg");
  background-position: center;
  background-size: cover;
  z-index: 30;
  height: 90px;
  width: 90px;
}
#title-screen {
  z-index: 30;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-over-screen{
  z-index: 30;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  position: relative;
}

#start-game {
  position: relative;
}

#author {
  position: fixed;
  bottom: 0;
  right: 0;
}

#game-container {
  position: relative;
  width: 735px;
  height: 735px;
  border: 3px dashed #000;
  background-image: url("https://img.freepik.com/premium-vector/abstract-paper-background-with-shadows-green-colors_444390-12263.jpg");
}

.snake {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(124, 124, 124);
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
}

.food {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: glow 1s;
  background-image: url("https://static.vecteezy.com/system/resources/previews/027/143/671/original/fresh-single-strawberry-isolated-on-transparent-background-png.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 10;

}

.food img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.snakeHeadLeft {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 0px 0px 10px;
}

.snakeHeadRight {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 10px 10px 0px;
}

.snakeHeadUp {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
}

.snakeHeadDown {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
}

#score {
  background-color: white;
  color: black;
  border: 2px solid;
  width: 70px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  float: left;
  position: relative;
}